body{

background-image: url(../images/Copy-of-Copy-of-Untitled-2.png)

}
#header{

background-image: url(../images/6886404837_614425b97b_b.jpg);
text-align: center;
padding-bottom: 40%;

}

#fill-out-form{

background-color: rgb(7, 151, 207);
padding: 10%

}